<div class="error_agileinfo d-flex justify-content-center">
    <div class="p-sm-5 py-5 px-3 bg-error align-self-center">
        <h4>Oops!</h4>
        <h3 class="txt-wthree mt-3">error 404</h3>
        <p class="py-3">Looks like the page you are trying to visit does not exist
            <br> Please check the URL and Try again.</p>
        <%= link_to "Back to Home", root_url, class: "btn-lg btn-primary" %>
    </div>
</div>